$text-color-light: #F5EFE6;
$text-color-dark: #2C2C2C;

$primary-color: #FF8C42;
$secondary-color: #2C2C2C;

$extra-color: #1A1A1A;

$gradient-color-1: #FFFFFF;
$gradient-color-2: #F5EFE6;

$font-l: 3rem;
$font-m: 2rem;
$font-s: 1.1rem;

$font-w-eb: 800;
$font-w-b: 600;
$font-w-r: 400;
