@use 'variables';

.btn {
  padding: 10px;
  border: none;
  border-radius: 10px;
  font: variables.$font-w-r variables.$font-s var(--font-outfit);
  cursor: pointer;
  box-sizing: border-box;
  width: max-content;
  box-sizing: border-box;
  transition: background-color 150ms linear, border 150ms linear, color 150ms linear;
  border: 1px solid transparent;
}

.btn.btn-transparent {
  background-color: transparent;
}

.btn.btn-outline {
  border: 1px solid variables.$primary-color;
  color: variables.$primary-color;

  &:hover {
    color: white;
    background-color: variables.$primary-color;
  }
}

.btn.btn-filled {
  color: white;
  background-color: variables.$primary-color;

  &:disabled {
    background-color: lighten($color: variables.$primary-color, $amount: 20);
  }

  &:hover {
    border: 1px solid variables.$primary-color;
    color: variables.$primary-color;
    background-color: transparent;
  }
}
