@use "variables";

main {
  background: radial-gradient(variables.$gradient-color-1, variables.$gradient-color-2);
  display: grid;
  place-items: center;

  .contact-form {
    width: 50%;
    box-sizing: border-box;
    font: variables.$font-w-r variables.$font-s var(--font-outfit);
    color: variables.$text-color-dark;
    margin: 0 auto;
    padding: 120px 20px;
    background-color: #f9f9f9;

    h2 {
      text-align: center;
      margin-bottom: 20px;
      color: #333;
    }

    form {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 25px;
    }
  }
}

@media (max-width: 480px) {
  main {
    .contact-form {
      width: 100%;
    }
  }
}
