@use "variables";

#home {
  .container {
    display: flex;
    gap: 15px;

    .introduction {
      font: variables.$font-w-r variables.$font-s var(--font-outfit);
      color: variables.$text-color-dark;
      display: flex;
      flex-direction: column;
      gap: 40px;
      justify-content: center;

      .about {
        display: flex;
        flex-direction: column;
        gap: 10px;
      }

      .qualities {
        display: flex;
        flex-direction: column;
        gap: 10px;
      }

      .social-icons {
        display: flex;
        gap: 15px;
        font-size: variables.$font-m;

        a {
          color: variables.$text-color-dark;
        }
      }
    }

    .profile-photo {
      padding: 5%;

      img {
        width: 300px; 
        aspect-ratio: 1 / 1;
      }
    }
  }
}

@media (max-width: 1024px) {
  .container {
    flex-direction: column;
    align-items: center;

    .introduction {
      align-items: center;
    }
  }
}
