@use "variables";

.input-text {
  width: 400px;
  display: grid;
  position: relative;

  input,
  textarea {
    font: 14pt Outfit;
    color: variables.$text-color-dark;
    padding: 10px 16px;
    width: 100%;
    border-radius: 10px;
    background: none;
    border: 1px solid gray;
    box-sizing: border-box;
    outline: none;
    transition: border-color 200ms linear;

    /* Focused */
    &:focus {
      border-color: variables.$primary-color;
    }

    &:focus ~ .placeholder {
      scale: 0.8;
      top: 0%;
      left: 5px;
      color: variables.$primary-color;
      border: 8px solid white;
    }
  }

  /* Filled */
  &.filled input {
    border-color: variables.$primary-color;
  }

  &.filled input ~ .placeholder,
  &.filled textarea ~ .placeholder {
    scale: 0.8;
    top: 0;
    left: 5px;
    color: variables.$primary-color;
    border: 8px solid white;
}

  /* Incorrect */
  &.incorrect input {
    border-color: hsl(0, 100%, 60%) !important;
  }

  /* Validated */
  &.correct input {
    border-color: hsl(120, 100%, 60%) !important;
  }

  .placeholder {
    position: absolute;
    z-index: 1;
    font: 14pt Outfit;
    color: gray;
    background: white;
    scale: 1;
    border: 0px solid white;
    left: 16px;
    top: 50%;
    translate: 0 -50%;
    border-top: none;
    border-bottom: none;
    transition-property: scale, top, left, border-width;
    transition-duration: 200ms;
    transition-timing-function: ease-in-out;
  }

  textarea + .placeholder {
    top: 28px;
  }
}
