@use "variables";

header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 9999;

  .navbar {
    background: #{variables.$gradient-color-2} + "AA";
    backdrop-filter: blur(5px);

    .navbar-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 30px;
      color: variables.$text-color-dark;

      .logo {
        font: variables.$font-w-b variables.$font-m var(--font-outfit);

        a {
          color: variables.$text-color-dark;
        }
      }

      .right {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 30px;

        ul {
          list-style: none;
          display: flex;
          gap: 20px;
          font: variables.$font-w-r variables.$font-s var(--font-outfit);

          li {
            a {
            color: variables.$text-color-dark;
            }
            &.active a {
              color: variables.$primary-color;
            }
          }
        }
      }
    }
  }

  @media (min-width: 1024px) {
    .navbar {
      .navbar-container {
        .right {
          &.hidden {
            visibility: visible !important;
            opacity: 1 !important;
          }
        }

        #show-menu {
          display: none;
        }
      }
    }
  }


  @media (max-width: 1024px) {
    .navbar {
      .navbar-container {
        .right {
          &.close {
            visibility: collapse;
            clip-path: inset(0 0 100% 0);
          }
          
          &.open {
            clip-path: inset(0 0 0 0);
            visibility: visible;
          }

          transition-property: clip-path, visibility;
          transition-duration: 150ms;
          transition-timing-function: ease-in-out;
          position: absolute;
          padding: 25px 0;
          left: 0;
          top: 100%;
          width: 100%;
          background-color: variables.$text-color-dark;
          flex-direction: column;

          ul {
            flex-direction: column;
            text-align: center;

            li {
              a {
                color: white;
              }
            }
          }
        }
      }
    }
  }
}