@use "variables";

#skills {
  .container {
    width: 100%;

    .content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      
      .technologies {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        gap: 100px;
        place-items: center;
        font: variables.$font-w-r variables.$font-s var(--font-outfit);
        text-align: center;

        img {
          border-radius: 15px;
          width: 100%;
          aspect-ratio: 1 / 1;
          object-fit: contain;
          background-color: white;
          object-position: center;
          transition: box-shadow 150ms ease-in-out;

          &:hover {
            box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
          }
        }

        a {
          color: variables.$text-color-dark;
        }
      }

      & > a {
        margin: 50px auto;
      }
    }
  }
}