@use "variables";

main {
  background: radial-gradient(variables.$gradient-color-1, variables.$gradient-color-2);
  display: grid;
  place-items: center;
  height: 100dvh;

  .thank-you-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 40px;
    background-color: #f9f9f9;
    border-radius: 8px;
    font: variables.$font-w-r variables.$font-s var(--font-outfit);
    max-width: 600px;
    margin: 0 auto;

    h1 {
      font-size: 2rem;
      color: #333;
      margin-bottom: 10px;
    }

    p {
      font-size: 1.1rem;
      color: #666;
      line-height: 1.6;
      margin-bottom: 20px;
    }
  }
}